
//mixins


//sets layout to flex 
@mixin flex-create{
    display: flex;
    width: 80%;
    margin: .5em;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin: auto;
}

@mixin search-input{
    display: block;
    margin: 1em auto;
    padding: .3em 5.2em;
    background-color: #fff;
    border-radius: .3em;
    box-shadow: none;
    font-size: 16pt;
}