//****************************
//Img Styles
//****************************

img{
    width: 180px;
    height: 180px;
    padding: 1em;
    @media only screen and (min-width: 576px) {
        padding: .5em;
    }
}

a img:hover {
    cursor: pointer;
  }