//****************************
// Changes to Magnific Plugin
//****************************
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: default;
}

img.mfp-img {
    max-width: 70%;
  }

.mfp-counter {
    display: none;
  }
  
.mfp-figure:after {
    display: none;
  }
  
.mfp-title {
    text-align: center;
    font-family: monospace;
    max-width: 65%;
    margin: 0 auto;
    padding-right: 0;
}
  
.mfp-bg {
    background: #2e2e2e;
    opacity: .99;
    height: 100%;
  }
  
.mfp-bottom-bar {
    padding-top: 2em;
  }
  
.mfp-title{
    color: rgb(216, 215, 215);
  }